:root{
    --red__bg: hsl(0, 100%, 74%) ;
    --green__btn: hsl(154, 59%, 51%);
    --blue__btn: hsl(248, 32%, 49%);
    --dark__form: hsl(249, 10%, 26%);
    --grey__footer: hsl(246, 25%, 77%);
}

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red__bg);
    overflow: hidden;
}

main {
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15rem;
    background: url(images/bg-intro-desktop.png) no-repeat;
    background-size: cover;
    background-color: var(--red__bg);
}

section {
    max-width: 100%;
    width: 50%;
}

.left__main__text {
    color: white;
}

.purple__button p {
    padding: 20px 0;
}

form {
    width: 80%;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
}

form div {
    display: flex;
    flex-direction: column;
}

.success input{
    color: var(--green__btn);
    border-width: 2px;
    border: 2px solid var(--green__btn);
    background: url(images/icon-success.svg) no-repeat;
    /* some complications, idk how to use such svg as frontendmentor provides, mine is bigger, and has different code;/ */
    /* I WILL FIGURE IT OUT NP */
    background-size: 5%;
    background-position: 97% 50%;
}

.error input {
    color: var(--red__bg);
    border: 2px solid var(--red__bg);
    background: url(images/icon-error.svg) no-repeat;
    background-position: 97% 50%;
}

form div .error {
    /* height: 1rem; */
    margin: 7px 0 15px;
    color: var(--red__bg);
    font-size: 0.7rem;
    font-weight: 500;
    font-style: italic;
    text-align: right;
}

input, button {
    padding: 17px 25px;
    border-radius: 5px;
    border: 1px solid hsl(249, 10%, 26%, 0.3);
    font-weight: 600;
    caret-color: var(--blue__btn);
}

/* czyli na click reaguje */
input:focus {
    outline: 1px solid var(--blue__btn);
}

button {
    padding-bottom: 15px;
    background-color: var(--green__btn);
    color: #fefefe;
    text-transform: uppercase;
    border: 2px solid hsla(154, 68%, 33%, 0.3);
    border-bottom: 5px solid hsla(154, 68%, 33%, 0.3);
    /* bcs border-bottom didnt have border radius from latest indicator */
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
}

form p {
    margin: 10px auto 20px;
    font-size: 12px;
    color: var(--grey__footer);
    font-weight: 600;
}

form a {
    text-decoration: none;
    color: var(--red__bg);
    font-weight: bold;
}

h1 {
    font-size: 3.5rem;
    line-height: 70px;
    margin-bottom: 30px;
}

.left__main__text p {
    font-size: 1.3rem;
}

.purple__button {
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
    color: var(--grey__footer);
    background-color: var(--blue__btn);
    border-radius: 10px;
    box-shadow: 0 10px rgb(0, 0, 0, 0.2);
}

.purple__button span {
    color: #fefefe;
    font-weight: 600;
}

@media (max-width: 1400px) {
    main {
        padding: 7rem;
    }
}

@media (max-width: 1050px) {
    body {
        overflow: auto;
    }
    
    main {
        padding: 5rem;
        flex-direction: column;
    }

    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left__main__text {
        padding: 200px 0 30px;
        text-align: center;
    }

    form p {
        text-align: center;
    }
}

@media (max-width: 620px) {
    main {
        padding: 2rem;
        background: url(images/bg-intro-desktop.png) no-repeat;
        background-size: cover;
        background-color: var(--red__bg);
    } 

    h1 {
        font-size: 2.7rem;
    }

    .left__main__text p {
        font-size: 1rem;
    }

    .purple__button p {
        padding: 20px 50px;
    }
}